 body {

background: url(http://3.bp.blogspot.com/-

wodsbU9ipUA/TlgmltZ3nQI/AAAAAAAAAWA/MeH7mIy3RDM/s1600/New-3D-Beautiful-HQ-

Wallpapers+1600x1200+%25282%2529.jpg)

}

img { 

    width: 600px;

        height: 500px;

}